<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <style>
    .hidden {
      display: none;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Maude Web</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ejecutar código</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row">
      <!-- Columna para los chats -->
      <div class="col-md-4 mt-3">
        <h4>Chats</h4>
        <div class="list-group">
          {% for chat in chats %}
          <a href="#" class="list-group-item list-group-item-action chat-link" data-chat-id="{{ chat.id }}">
            {{ chat.nombre }}
          </a>
          {% endfor %}
        </div>
        <a href="{% url 'new_chat' %}" class="btn btn-primary mt-3">Crear nuevo chat</a>
      </div>
      <!-- Columna central, se mostrará solo si hay un chat seleccionado -->
      <div class="col-md-8">
        {% if chat_actual %}
        <h4>{{ chat_actual.nombre }}</h4>
        <div class="container mt-4">
          <div class="chat-container">
            <!-- Historial de chat -->
            <div class="chat-history">
              {% for mensaje in mensajes %}
              <div class="mensaje">
                <p class="usuario">Tú:</p>
                <p>{{ mensaje.comando }}</p>
              </div>
              <div class="respuesta">
                <p class="maude">Maude:</p>
                <p>{{ mensaje.respuesta }}</p>
              </div>
              {% endfor %}
            </div>


            <!-- Sección del módulo Maude, inicialmente visible -->
            <div id="maudeModuleSection" class="mb-3">
              <h5>Módulo Maude:</h5>
              <textarea class="form-control" id="maudeCode" name="maude_code"
                rows="5">{{ chat_actual.maude_module }}</textarea>
            </div>
            <!-- Formulario para enviar nuevos comandos -->
            <div class="chat-input">
              <form id="maudeForm" action="" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                  <input type="text" id="maudeCommand" name="maude_execution" class="form-control"
                    placeholder="Escribe tu comando Maude aquí...">
                  <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        {% else %}
        <div class="container mt-3">
          <h4>Bienvenido a Maude Web</h4>
          <p>Selecciona un chat o crea uno nuevo para comenzar.</p>
        </div>
        {% endif %}
      </div>
      <div class="col-md-4 mt-3">
        <button class="btn btn-secondary" id="toggle-chats-btn">Ocultar/Mostrar Chats</button>
        <button id="toggleModuleButton" class="btn btn-info mb-2 mt-3">Mostrar/Ocultar Módulo Maude</button>
      </div>

    </div>
  </div>
</body>

</html>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const chatColumn = document.querySelector('.col-md-4'); // Ajusta la clase según tu layout
    const toggleButton = document.getElementById('toggle-chats-btn');

    toggleButton.addEventListener('click', function () {
      chatColumn.classList.toggle('hidden'); // 'hidden' es una clase que oculta el elemento
    });
  });
  <!-- En tu script de JavaScript al final del archivo HTML -->
  document.addEventListener("DOMContentLoaded", function () {
    var chatLinks = document.querySelectorAll('.chat-link');
    chatLinks.forEach(function (link) {
      link.addEventListener('click', function (event) {
        event.preventDefault();
        var chatId = this.getAttribute('data-chat-id');
        fetch(`/get_chat_content/${chatId}/`)
          .then(response => response.json())
          .then(data => {
            const chatContainer = document.querySelector('.col-md-8');
            let contentHtml = `
              <h4 class="mt-3">${data.nombre}</h4>
              <div id="maudeModuleSection" class="mb-3">
                <h5>Módulo Maude:</h5>
                <textarea class="form-control" rows="5">${data.maude_module}</textarea>
              </div>
              <div class="chat-history">`;
            data.mensajes.forEach(mensaje => {
              contentHtml += `
                <div class="mensaje">
                  <p class="usuario">Tú:</p>
                  <p>${mensaje.comando}</p>
                </div>
                <div class="respuesta">
                  <p class="maude">Maude:</p>
                  <p>${mensaje.respuesta}</p>
                </div>`;
            });
            contentHtml += `</div>
              <div class="chat-input">
                <form id="maudeForm" method="post">
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                  <div class="input-group mb-3">
                    <input type="text" id="maudeCommand" name="maude_execution" class="form-control" placeholder="Escribe tu comando aquí...">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                  </div>
                </form>
              </div>`;
            chatContainer.innerHTML = contentHtml;
          })
          .catch(error => console.error('Error:', error));
      });
    });

    // Botón para ocultar/mostrar el código del módulo
    document.getElementById("toggleModuleButton").addEventListener("click", function () {
      var moduleSection = document.getElementById("maudeModuleSection");
      if (moduleSection) {
        moduleSection.classList.toggle("hidden");
      }
    });

    // Envío del formulario y actualización del chat
    document.addEventListener('submit', function (event) {
      if (event.target.id === "maudeForm") {
        event.preventDefault(); // Prevenir el envío tradicional del formulario

        var chatId = document.querySelector('.chat-link.active') ? document.querySelector('.chat-link.active').getAttribute('data-chat-id') : '';
        if (chatId) {
          var formData = new FormData(event.target);
          formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
          formData.append('maude_code', document.getElementById('maudeCode').value);

          // Realizar la solicitud AJAX
          fetch(`/run_maude_command/${chatId}/`, {
            method: "POST",
            body: formData,
            headers: {
              "X-Requested-With": "XMLHttpRequest"
            },
          })
            .then(response => response.json())
            .then(data => {
              var historySection = document.querySelector('.chat-history');
              if (historySection) {
                historySection.innerHTML += `
                  <div class="mensaje">
                    <p class="usuario">Tú:</p>
                    <p>${data.comando}</p>
                  </div>
                  <div class="respuesta">
                    <p class="maude">Maude:</p>
                    <p>${data.respuesta}</p>
                  </div>`;
                document.getElementById('maudeCommand').value = '';
              }
            })
            .catch(error => console.error('Error:', error));
        } else {
          console.error("No hay un chat activo seleccionado.");
        }
      }
    });
  });


</script>